[run]
relative_files = True
source = .
omit =
    */main.py
    */__init__.py
    tests/**
    .venv/**
    utils/**

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    @abstractmethod
